**/.env
**/.env.*
!**/.env.sample

**/node_modules
**/dist
**/build
**/coverage
**/generated/prisma

.git
.github
.claude
.agents
.atl
.windsurf

**/*.log
**/.DS_Store
**/*.tsbuildinfo

docs
README.md
