NODE_ENV=production

POSTGRES_USER=todo_app
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=todo

MONGO_DB=notifications

JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=1h

PUBLIC_HOST=54.90.184.57
CORS_ORIGIN=http://54.90.184.57
